@model AgileQuoteAdminProperty.Property.CurrencyProperty
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Currency";        
}
@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCurrency</title>
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <link href="../../Content/themes/CurrencyStyle.css" rel="stylesheet" type="text/css" />
</head>*@

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>  
    
    <title>Agile Quote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/CurrencyScript/CurrencyScript.js" type="text/javascript">
      
    </script>
    <link href="../../Content/themes/base/Popup.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="../../Content/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/grid.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/icons.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/style.css" />
    </head>

<body>

<section class="c12 main-title">
           		<div class="c6 quote">
                	<img src="../../Images/qoute-ion.png" alt="img1" />
                	<p>Edit Currency</p>
                    
                     
                </div>
            </section>
            <div class="light-popup" id="CurrencyPopUp">
           <a href="#" class="close" id="CurrencyPopUp_close">
        <img src="" class="btn_close" title="Close Window" alt="Close" /></a>
           @using (Html.BeginForm("EditCurrency", "Currency", FormMethod.Post))       
              {
            	<div class="greay_box">
                	<ul>
                    	<li>
                        	@Html.LabelFor(x => x.CurrencyId, new { @class = "Label" }) 
                            @Html.TextBoxFor(x => x.CurrencyId, new { @ReadOnly = "readonly", @class = "TextBox" })
                        </li>
                        <li>
                        	 @Html.LabelFor(x => x.CurrencyCode, new { @class = "Label" })
                             @Html.TextBoxFor(x => x.CurrencyCode, new { @class = "TextBox" })
                              @Html.ValidationMessageFor(x=>x.CurrencyCode)
                        </li>
						<li>
                        	  @Html.LabelFor(x => x.CurrencyName, new { @class = "Label" })
                              @Html.TextBoxFor(x => x.CurrencyName, new { @class = "TextBox" })  
                              @Html.ValidationMessageFor(x=>x.CurrencyName)    
                        </li>                         
                         <li>
                        	@Html.LabelFor(x => x.Amount, new { @class = "Label" })
                            @Html.TextBoxFor(x => x.Amount, new { @class = "TextBox" }) 
                             @Html.ValidationMessageFor(x=>x.Amount)
                        </li>
                        <li>
                           @Html.LabelFor(x => x.IsActive, new { @class = "Label" })
                           @Html.CheckBoxFor(x => x.IsActive)
                        </li>
                        <li>
                            @Html.LabelFor(x => x.IsDelete, new { @class = "Label" })
                             @Html.CheckBoxFor(x => x.IsDelete)
                        </li>                     
						   @Html.ValidationSummary(true);                     
                        </ul>
                      </div>                       
                       
                    
                 <div class="submit_box">
            	<input type="submit" value="UPDATE CURRENCY" />
                </div>               
                }
     </div>            
</body>
 
</html>
